pandas==2.2.3
numpy
pyarrow
pyjanitor==0.27.0
matplotlib<3.8
seaborn
jupyter
Unidecode
botometer
notebook==6.4.8
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterthemes
traitlets==5.9.0
tqdm
nbqa
black
pyflakes
mypy
isort
runpynb
jupytext